In [1]:
import pandas 
data = pandas.read_csv('cleanedDataset.csv')
data.head(5)

,Unnamed: 0,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,0,43783,1995-03-22,2000-01-01,2000-01-01,Unknown,unknown,Male,0,72.350000,...,88.24,81.50,60.02,81.44,In state,On Campus,Public Transit,27.0,7.0,1.0
1,1,20278,1995-01-01,2000-01-01,2000-01-01,Unknown,Philosophy,Male,0,70.660000,...,89.45,85.25,70.19,73.27,unknown,On Campus,Public Transit,27.0,5.0,2.0
2,2,20389,1994-12-31,2000-01-01,2000-01-01,Unknown,unknown,Male,0,70.680000,...,96.73,86.88,71.20,84.24,In state,unknown,Public Transit,27.0,8.0,7.0
3,3,22820,1994-12-01,2000-01-01,2000-01-01,Unknown,business administration,Female,0,68.031765,...,74.06,88.68,55.89,73.16,In state,On Campus,Public Transit,27.0,2.0,6.0
4,4,24559,1994-11-10,2000-01-01,2000-01-01,Unknown,unknown,Female,1,67.430000,...,82.61,77.30,65.52,80.45,Out of state,On Campus,Public Transit,27.0,7.0,3.0

In [ ]:

# one sample t-test
import scipy.stats as stats

stats.ttest_1samp(a=data['English'],popmean=50)
# statistic - this value tells you how many the std sample mean(English mean) is from the population ,mean(50)
# pvalue - this value helps you to determine the significance of the results, ie, if it is null or true. if the pvalue is less than 0.05, then you reject the null hypothesis
# degree of freedom - is used to determine the critical t-value from the t-distribution and for intercepting the t-test results

t_stat,p_value = stats.ttest_1samp(a=data['English'],popmean=50)

if p_value < 0.05:
    print("we dont have significant evidence to say that the mean English score for students is 50")
else:
    print("sample mean is not significantly different from the population mean")

we dont have significant evidence to say that the mean English score for students is 50

In [ ]:
stats.ttest_1samp(a=data['Math'],popmean=65)
t_stat,p_value = stats.ttest_1samp(a=data['Math'],popmean=65)
if p_value < 0.05:
    print("we dont have significant evidence to say that the mean Math score for students is 65")
else:
    print("sample mean is close to the population mean")

sample mean is close to the population mean

In [ ]:
# Does an athlete affect a student's average study time?

data['Athlete'].replace({
    0:'Athlete',
    1:'Non Athlete'
},inplace=True)

athlete_study_time = data[data['Athlete'] == 'Athlete']['StudyTime']
non_athlete_study_time = data[data['Athlete'] == 'Non Athlete']['StudyTime']

# perform the independence double sample ttest
t_stat, p_value = stats.ttest_ind(a= athlete_study_time, b= non_athlete_study_time)
if p_value < 0.05:
    print('there is a significant difference in the average study time for athletes compared to non athletes')
else:
    print('there is no significant difference in the average study time for athletes compared to non athletes')

there is no significant difference in the average study time for athletes compared to non athletes

In [ ]:
data['Smoking'].replace({
    'Not a smoker':'Non smoker',
    'Smoker':'Smoker',
    'Unknown':'ChainSmoker',
    '3.0':'Unknown'
},inplace=True)

data.groupby('Smoking').size()

Smoking
ChainSmoker     94
Non smoker     304
Smoker          37
dtype: int64

In [ ]:
smoker_sleep_time = data[data['Smoking'] == 'Smoker']['SleepTime']
non_smoker_sleep_time = data[data['Smoking'] == 'Not a smoker']['SleepTime']

t_stat, p_value = stats.ttest_ind(a= smoker_sleep_time, b= non_smoker_sleep_time)
if p_value < 0.05:
    print('there is a significant difference in the average sleeping time for smokers compared to non smokers')
else:
    print('there is no significant difference in the average sleeping time for smokers compared to non smokers')

there is no significant difference in the average sleeping time for smokers compared to non smokers

In [ ]:
# one way ANOVA
group1 = [85,68,44,55,98,22,53]
group2 = [63,84,23,45,63,85,77]
group3 = [46,74,73,82,91,189,45]

stats.f_oneway(group1,group2,group3)

F_onewayResult(statistic=1.1416186919415943, pvalue=0.34136350185916114)

In [ ]:
data.groupby('State').size()

# group the state and calculate the means of each score
average_scores_by_state = data.groupby('State')[['English', 'Reading', 'Math', 'Writing']].mean()
average_scores_by_state 

# perform ANOVA for each score using a loop
for column in average_scores_by_state:
    tstat,pvalue = stats.f_oneway(*[list(average_scores_by_state[column])for _,group in average_scores_by_state.groupby('State')])
    if pvalue <0.05:
        print(f"there is a statitical significant difference in average {column} score across states")
    else:
        print(f"there is not an evidence to conclude the difference in average {column} scores across based on state")

there is not an evidence to conclude the difference in average English scores across based on state
there is not an evidence to conclude the difference in average Reading scores across based on state
there is not an evidence to conclude the difference in average Math scores across based on state
there is not an evidence to conclude the difference in average Writing scores across based on state

In [ ]:
# ANOVA for col Math, English and Reading.
tstats,pvalue = stats.f_oneway(data['Math'],data['English'],data['Reading'])

if pvalue <0.05:
    print("the mean is significantly evident that they relate")
else:t_stat, p_value = stats.ttest_ind(a= smoker_sleep_time, b= non_smoker_sleep_time)
if p_value < 0.05:
    print('there is a significant difference in the average sleeping time for smokers compared to non smokers')
else:
    print('there is no significant difference in the average sleeping time for smokers compared to non smokers')
    print("the mean is not significantly evident that they relate")

the mean is significantly evident that they relate

In [82]:
average_sleep_time = data['SleepTime'].mean()
average_study_time = data['StudyTime'].mean()

t_stat, p_value = stats.ttest_ind(a= average_sleep_time, b= average_study_time)
if p_value < 0.05:
    print('there is a significant difference in the average sleeping time compared to the average study time')
else:
    print('there is no significant difference in the average sleeping time compared to the average study time')

there is no significant difference in the average sleeping time compared to the average study time

/home/user/.local/lib/python3.10/site-packages/scipy/stats/_stats_py.py:6988: RuntimeWarning: invalid value encountered in scalar divide
  svar = ((n1 - 1) * v1 + (n2 - 1) * v2) / df

In [95]:
# Do athletes have a higher average writing score compared to non-athletes
athlete_writing_score = data[data['Athlete'] == 'Athlete']['Writing'].mean()
non_athlete_writing_score = data[data['Athlete'] == 'Non Athlete']['Writing'].mean()

# perform the independence double sample ttest
t_stat, p_value = stats.ttest_ind(a= athlete_writing_score, b= non_athlete_writing_score)
if athlete_writing_score > non_athlete_writing_score:
    print(f'Athletes have higher average writing score ({athlete_writing_score}) compared to non athletes ({non_athlete_writing_score})')
else:
    print('Athletes do not have higher writing score compared to non athletes')

Athletes have higher average writing score (80.16445662892981) compared to non athletes (78.6448563280241)

In [96]:
# Is there a significant difference in average sleep time between male and female students
male_sleep_time = data[data['Gender'] == 'Male']['SleepTime']
female_sleep_time = data[data['Gender'] == 'Female']['SleepTime']

# perform the independence double sample ttest
t_stat, p_value = stats.ttest_ind(a= male_sleep_time, b= female_sleep_time)
if p_value < 0.05:
    print('there is a significant difference in the average sleep time for males to females')
else:
    print('there is no significant difference in the average sleep time for males to females')

there is no significant difference in the average sleep time for males to females