In [8]:
#collecting the dataset
import pandas

data = pandas.read_csv("cleanedDataset.csv")
data.head(15)

,Unnamed: 0,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,0,43783,1995-03-22,2000-01-01,2000-01-01,Unknown,unknown,Male,0,72.350000,...,88.240000,81.5000,60.02,81.44,In state,On Campus,Public Transit,27.0,7.000000,1.0
1,1,20278,1995-01-01,2000-01-01,2000-01-01,Unknown,Philosophy,Male,0,70.660000,...,89.450000,85.2500,70.19,73.27,unknown,On Campus,Public Transit,27.0,5.000000,2.0
2,2,20389,1994-12-31,2000-01-01,2000-01-01,Unknown,unknown,Male,0,70.680000,...,96.730000,86.8800,71.20,84.24,In state,unknown,Public Transit,27.0,8.000000,7.0
3,3,22820,1994-12-01,2000-01-01,2000-01-01,Unknown,business administration,Female,0,68.031765,...,74.060000,88.6800,55.89,73.16,In state,On Campus,Public Transit,27.0,2.000000,6.0
4,4,24559,1994-11-10,2000-01-01,2000-01-01,Unknown,unknown,Female,1,67.430000,...,82.610000,77.3000,65.52,80.45,Out of state,On Campus,Public Transit,27.0,7.000000,3.0
5,5,28980,1994-09-17,2000-01-01,2000-01-01,Unknown,astrophysics,Male,1,68.450000,...,70.100000,82.0708,61.40,77.48,In state,On Campus,Public Transit,27.0,8.000000,3.0
6,6,33312,1994-07-27,2000-01-01,2000-01-01,Unknown,Anthropology,Male,1,68.560000,...,78.980000,87.5300,76.71,70.79,In state,On Campus,Public Transit,27.0,9.000000,9.0
7,7,40274,1994-05-03,2000-01-01,2000-01-01,Unknown,American History,Male,1,71.910000,...,82.787555,67.3100,58.64,65.89,In state,Off Campus,Public Transit,27.0,8.000000,3.0
8,8,40390,1994-04-30,2000-01-01,2000-01-01,Unknown,Africana studies,Female,1,68.840000,...,75.650000,76.5400,51.14,75.94,In state,Off Campus,Car,26.0,5.461538,3.0
9,9,28942,1993-09-17,2000-01-01,2000-01-01,Unknown,unknown,Female,1,66.690000,...,68.270000,93.8800,55.20,78.18,Out of state,unknown,Walk,13.0,2.000000,15.0
10,10,29045,1993-09-17,2000-01-01,2000-01-01,Unknown,French,Male,0,70.120000,...,86.000000,91.3400,64.41,71.02,Out of state,Off Campus,Car,20.0,1.000000,6.0
11,11,35676,1993-06-27,2000-01-01,2000-01-01,Unknown,history,Female,1,66.910000,...,79.940000,76.7400,62.53,84.78,In state,On Campus,Public Transit,27.0,4.000000,0.0
12,12,38764,1993-05-22,2000-01-01,2000-01-01,Unknown,unknown,Male,1,65.210000,...,101.950000,74.4500,66.80,88.50,In state,Off Campus,Car,29.0,4.000000,2.0
13,13,39796,1993-05-08,2000-01-01,2000-01-01,Unknown,unknown,Female,0,72.350000,...,88.970000,86.5300,52.48,81.21,Out of state,Off Campus,Car,38.0,4.000000,2.0
14,14,41092,1993-04-23,2000-01-01,2000-01-01,Unknown,"engineering,undecided",Male,0,67.120000,...,91.790000,84.4400,66.76,88.03,In state,On Campus,Public Transit,27.0,4.000000,11.0

In [4]:

# one sample t-test
import scipy.stats as stats

stats.ttest_1samp(a=data['English'],popmean=50)
# statistic - this value tells you how many the std sample mean(English mean) is from the population ,mean(50)
# pvalue - this value helps you to determine the significance of the results, ie, if it is null or true. if the pvalue is less than 0.05, then you reject the null hypothesis
# degree of freedom - is used to determine the critical t-value from the t-distribution and for intercepting the t-test results

t_stat,p_value = stats.ttest_1samp(a=data['English'],popmean=50)

if p_value < 0.05:
    print("we dont have significant evidence to say that the mean English score for students is 50")
else:
    print("sample mean is not significantly different from the population mean")

we dont have significant evidence to say that the mean English score for students is 50

In [7]:
stats.ttest_1samp(a=data['Math'],popmean=65)
t_stat,p_value = stats.ttest_1samp(a=data['Math'],popmean=65)
if p_value < 0.05:
    print("we dont have significant evidence to say that the mean Math score for students is 65")
else:
    print("sample mean is close to the population mean")

sample mean is close to the population mean

In [9]:
# Does an athlete affect a student's average study time?

data.groupby(data['Athlete']).size()

Athlete
0    251
1    184
dtype: int64